<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
  <title>Image Classification</title>
</head>
<body>
  <div class="container">
      <div class="ui raised very padded text container segment">
          <div class="ui inverted segment">
            <form
              action="/upload
            "
              method="GET"
            >
              <div class="ui inverted form">
                <div class="two fields">
                  <div class="field">
                    <h1>Image Classification</h1>
                    <label><h5>Image Link</h5></label>
                    <div class="ui inverted divider"></div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" name = "image" value="">
                      </div>
                  </div>
                </div>
                
               
                <button href="/current" class="primary btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
 
  </div>


  
  <script>
        

  </script>
  
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
</body>
</html>