<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <script src="https://unpkg.com/ml5@0.1.3/dist/ml5.min.js"></script>
    </head>
    
    <body>
       
        <div class="ui raised very padded text container segment">
                <div class="ui inverted segment">
                  <h1>Image Classsificaton

                  </h1>
                  <p></p>
                  <h4 class="ui horizontal inverted divider">
                  </h4>
                  <div class="ui inverted segment">
                        <%img.forEach((c)=>{%>
                            <img src="<%= c.image%>" class="responsive-img" crossorigin="anonymous" id = "image" width="400">
                        <%})%>
                  </div>
              
                  <h4 class="ui horizontal inverted divider">
                
                  </h4>
                  <div class="ui inverted segment">
                        <h5>The Current Image is of <em><strong><span id="result">...</span></strong></em> <br> guessing with a probability of
                            <em><span id="probability">...</span></em></h5>
                  </div>
                </div>
              </div>
    </body>
    <script>
    const image = document.getElementById('image');
   
   const result = document.getElementById('result');
   
   const probability = document.getElementById('probability');

   const classifier = ml5.imageClassifier('MobileNet', function() {
     console.log('Model Loaded!');
   });


   classifier.predict(image,function(err, results) {
    
     result.innerHTML = results[0].className
     probability.innerHTML = results[0].probability
     
     
   });
    </script>
      
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
</html>

   
   